{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style  = '' -%}
{%- assign text_style  = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if project.style == 'border'-%}
  {%- assign card_style = project.color | prepend: 'border border-' -%}
  {%- if project.color -%}
    {%- assign badge_style =  project.color | prepend: 'badge-' -%}
  {%- endif -%}

{%- else -%}
  {%- assign card_style = project.color | prepend: 'bg-' -%}
    {%- if project.color != 'light' -%}
      {%- assign text_style  = 'text-white' -%}
      {%- assign badge_style = 'badge-light text-' -%}
      {%- assign badge_style = badge_style | append: project.color -%}
    {%- endif -%}
{%- endif -%}

{%- comment -%} Determine project URL {%- endcomment -%}
{%- if project.external_url -%}
  {%- assign project_url = project.external_url -%}
{%- else -%}
  {%- assign project_url = project.url | relative_url -%}
{%- endif -%}

<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ project_url }}" class="project card {{ card_style }}" {%- if project.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
    {%- if project_img -%}
    <img id="{{ project_id }}-img" class="card-img-top" src="{{ project_img }}" alt="{{ project_name }}" />
    {%- endif -%}

    <div class="card-body {{ text_style }}">
      <h5 id="{{ project_id }}-name" class="card-title">
        {%- if project_type == "remote" -%}
        <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i>
        |&nbsp;
        {%- endif -%}
        {{ project_name }}
      </h5>


        {%- if project_desc -%}
      <p id="{{ project_id }}-desc" class="card-text">{{ project_desc }}</p>
        {%- endif -%}

    <p id="{{ project_id }}-tools" class="card-text">
      {%- for tool in project_tools -%}
      <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
      {%- endfor -%}
    </p>

    </div>


  </a>
</div>